body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
    color: #b3ffaf;
    font-family: courier new, courier, fixed-width;
    font-weight: bold;
    overflow: hidden;
}

.template {
    display: none;
}


table.accounts {
    width: 100%;
    border-collapse:  collapse;
}
table.accounts tr.highlight {
    background-color: #b3ffaf;
    color: #000;
}

table.accounts tr th {
    font-size: 3em;
}
table.accounts tr td {
    font-size: 2em;
}

table.accounts tr th, table.accounts tr td {
    border: 3px solid #b3ffaf;
    border-width: 0px 3px 0px;
    text-align: center;
}
table.accounts tr .pk { width: 10%; }
table.accounts tr .acct_num { width: 35%; }
table.accounts tr .tp { width: 15%; }
table.accounts tr .rrcl { width: 20%; }
table.accounts tr .to_pk { width: 20%; }




div.transfer {
    padding: .5em;
    border: 3px solid #b3ffaf;
    background-color: #000;
    width: 30em;
    height: 5em;
    position: absolute;
    top: 0px;
}
div.transfer div.transferring {
    float: left;
    white-space: nowrap;
}
div.transfer div.transferring span.percent {
    margin-right: 1em;
}
div.transfer div.progressbar {
    white-space: nowrap;
    overflow: hidden;
}
div.transfer div.progressbar div.fill {
    background-color: #b3ffaf;
    width: 0%;
}
div.transfer div.password {
    overflow: hidden;
}

div.sql {
    padding: .5em;
    border: 3px solid #b3ffaf;
    background-color: #000;
    width: 30em;
    height: 10em;
    position: absolute;
    top: 0px;
    overflow: hidden;
    white-space: pre-wrap;
}
